{% load static %}
{% load crispy_forms_tags %}
{% block content %}



<html lang="en">
<head>
	<title>Login V16</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'users/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'users/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'users/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'users/css/main.css' %}">
	
<!--===============================================================================================-->
</head>








<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static 'users/images/bg-01.jpg' %}');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Account Login
				</span>
				<div class="login100-form validate-form p-b-33 p-t-5" >
					

					

					

					<div class="container-login100-form-btn m-t-32">
						
						<a class="login100-form-btn" href="{% url 'log' %}">Login With FaceID</a>
					
					</div>
                    

					<div class="container-login100-form-btn m-t-32">
						
						<a class="login100-form-btn" href="{% url 'login' %}">Login With Username</a>
					
					</div>

                    <div class="container-login100-form-btn m-t-32">
						
							<a class="login100-form-btn" href="{% url 'home' %}">Return To Home</a>
						
					</div>
					
					

				</div> 
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'users/vendor/jquery/jquery-3.2.1.min.js' %}"></script>

	<script src="{% static 'users/vendor/animsition/js/animsition.min.js' %}"></script>
	<script src="{% static 'usersvendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'users/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'users/vendor/select2/select2.min.js' %}"></script>
	<script src="{% static 'users/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
	<script src="{% static 'users/vendor/countdowntime/countdowntime.js' %}"></script>
	<script src="{% static 'users/js/main.js' %}"></script>
<!--===============================================================================================-->
<!--===============================================================================================-->
<!--===============================================================================================-->
<!--===============================================================================================-->
<!--===============================================================================================-->
<!--===============================================================================================-->

</body>
</html>

{% endblock content %}